<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<header class="w3-container w3-theme w3-padding" id="myHeader">
<br><br><br><br><br>
  <div class="w3-center">
  <h4>The Art of Throwing Hands</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">DUNGEONS AND DRAGONS</h1>
  <h6>A Flatiron School Phase 2 Project Made by:</h6>
  <h6> Emily Nguyen & Nestor Venegas</h6>
  <br><br><br><br>
  <h6>Learn how to play below.</h6>
    <div class="w3-padding-32">
    </div>
  </div>
</header>
<br><br><br><br><br>

<div class="w3-padding-128 w3-container">
  <div class="w3-content">
    <div class="w3-center">
<h1> How to play</h1>
<p><strong>About me:</strong></p>
<p>     This application was created with the intention of emulating the famous “Dungeons and Dragons” tabletop game. The game play mechanics  are bare bones, but function very similar to the game.  Your attack rolls, damage rolls, and  skill checks are completed for you with the appropriate modifiers added to your roll  at the push of a button. </p><br><br>
<p><strong>Creating Your Character:</strong></p>
	<p>In the “Create Character” page, you have the ability to choose your character’s race & class(occupation).  Character skill points will be generated in the traditional, four rolls of six sided dice. Health points will also be auot generated for you depending on your hit dice and constitution modifier. </p><br><br>
<p><strong>Create or Join a Campaign:</strong></p>
	<p>In the “Create Campaign” page,  you can create campaigns and play through them with your selected character. </p><br><br>
<p><strong>Encounters throughout the Campaign:</strong></p>
	<p>Encounters operate on a turn basis, on your turn you will have the opportunity to select from a few options. If your selection requires a roll to decide the outcome, one will be made for you with the appropriate modifiers added. Afterwards if necessary your character will automatically gain rewards. </p><br><br>
</div>
</div>
</div>
<div class="w3-padding-128 w3-container">
  <div class="w3-content">
    <div class="w3-center">
<h3> Go back to home </h3>
<%= button_to 'Go back', root_path, method: :get %> <br><br><br><br>
</div>
</div>
</div>