<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">



<div class="w3-padding-128 w3-container">
  <div class="w3-content">
    <div class="w3-center">
<div class='enemy_display'>
    <h4>You have encountered an enemy: </h4> 
    <strong><h4><%= @enemy.name %></strong></h4>
    <%= @enemy.health_bar %><br> 
</div>
</div>
</div>
</div><br><br><br><br>