<br>
<br>
    <div class='Combat_title'>
        <h3> 
            <%= @encounter.participant.name %>'s Turn! 
        <h3>
    </div>
<br>
    <%= render 'enemy_display' %>
<br>
<br>
    <%= render 'character_display' %>
<br>
<br>
    <%= render 'combat_options' %>




